.block-posts
  each article in articles
    article
      header
        h3
          a(href=article.url)
            != article.title
        p.meta
          include articleMeta
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p
            a(href=article.url).more-link Continue reading &#8594;
nav
  ul
    if prevPage
      li
        a(href=prevPage.url) « Newer
    if nextPage
      li
        a(href=nextPage.url) Older »