.block-posts
  each article in articles
    article
      header
        h3
          a(href=article.url)
            != article.title
        p.meta
          include articleMeta
      section.block-content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more-link
            a(href=article.url).more-link Continue reading &#8594;
nav.nav-history
  ul
    if nextPage
      li.older
        a(href=nextPage.url) « Older
    if prevPage
      li.newer
        a(href=prevPage.url) Newer »