extends layout

block vars
  - var bodyclass = 'cv'

block prepend title
  | #{ page.title + " - "}

block scripts
  script(src="/scripts/cv.bundle.js")

block header
  h1= page.title
  if page.metadata.description
    h3= page.metadata.description
  nav
    ul#CvNavigation.nav.nav-pills
      li
        a.nav-link(href="#description") Description
      li
        a.nav-link(href="#work") Work Experience
      li
        a.nav-link(href="#education") Education
      li
        a.nav-link(href="#skills") Skills
      li
        a.nav-link(href="#projects") Projects
      li
        a.nav-link(href="#voluntary") Voluntary Work

block content
  #CvContent.block-content
    h2 Curriculum Vitae
    dl
      dt Full name
      dd Arne Hassel
      dt Date of birth
      dd December 5th, 1984
    section#description
      h3 Description
      p Arne has a M.Sc. from the Department of Informatics, University of Oslo, Norway, as well as a B.Ec. from University of Life Sciences, Ås, Norway.
      p Developing for the web has been a cornerstone in his work, exemplified by <a href="http://graphitethesis.icanhasweb.net/">his master thesis on JavaScript and Semantic Web</a>. Primarily focused on the frontend aspect, but also good on the backend, Arne tries to create the best experience for the end-user, be it young or old, handicapped or not, experienced or completely new to the game. If a tool cannot be used by the user, it really isn't a tool.
      p Volunteering has been an important activity throughout Arne's education, and now also in his professional life. This has resulted in a complex set of skills, from organizational skills and accounting to culture development and the ability to view things in larger perspectives.
      p Arne enjoys working in motivated groups, chipping in to make the whole team take part, and create amazing solutions.
    section#work
      h3 Relevant Work Experience
      dl
        dt 2015-
        dd Front end developer, <a href="http://www.questback.com/">Questback AS</a>
        dt 2008-2014
        dd System Developer, <a href="http://ous-research.no/sps/">Centre for Shared Decision making and Collaborative Care Research</a>
    section#education
      h3 Education
      dl
        dt 2007-2012
        dd
          a(href="http://www.uio.no/studier/program/inf-prof/distribuerte-systemer/") M.Sc., Master in Distributed Systems and Networks, University of Oslo, Oslo, Norway
        dt 2003-2007
        dd
          a(href="http://www.umb.no/studietilbud/artikkel/bachelor-i-okonomi-og-administrasjon") B.Ec., Bachelor of Economics, University of Life Sciences, Ås, Norway
    section#skills
      h3 Skills
      p This section provide an overview of my professional, personal, and social skills. It uses a series of diagrams, ranging from 0 to 10, where 0 is no knowledge, and 10 is top knowledge. The diagrams shows my attained status in green, and the status I aspire in yellow.
      - knowledgeList = contents.cv['data.json'].metadata.knowledge
      each knowledge in knowledgeList
        h4(tabindex=0)= knowledge.name
        div
          .block-skills
            each topic in knowledge.topics
              article
                h5(tabindex=0)= topic.name
                dl.list-skills
                  each skill in topic.skills
                      dt= skill.name
                      dd.progress
                        - attained = skill.attained * 10;
                        - aspire = (skill.aspire - skill.attained) * 10;
                        div(style="width: "+attained+"%").progress-bar.progress-bar-striped.progress-bar--success #{skill.attained}/10
                        div(style="width: "+aspire+"%").progress-bar.progress-bar-striped.progress-bar--warning #{skill.aspire}/10
    section#projects
      h3 Projects
      div
        .block-projects
          - projects = contents.cv['data.json'].metadata.projects
          each project in projects
            article
              h4(tabindex=0)= project.name
              dl
                dt Period
                dd= project.period
                dt Role
                dd= project.role
                dt Technologies
                dd= project.technologies
    section#voluntary
      h3 Voluntary Work and Honorary Positions
      dl
        dt 2015-
        dd
          a(href="http://ordenen.ifi.uio.no/") Hennes Majestet Keiserpingvinen den Fornemme
          | : Stormester
        dt 2012-
        dd
          a(href="http://holderdeord.no") Holder de ord
          | : Developer
        dt 2009-2014
        dd
          a(href="http://cyb.no/") Cybernetisk Selskab</a>
          | : Member of board (Treasurer), Member of Sponsor Board, Guard, Archivist
        dt 2010-2011
        dd Birthday Party at Ole-Johan Dahls hus September 2nd
          ul.compact
            li Planned, executed and completed the follow-up associated with the Birthday Party in the occasion of the 200-year celebration of University of Oslo.
            li Cooperated with the department and UiO:200, the Anniversary Secreatariat, and executed a party for almost 5 000 people.
        dt 2003-2007
        dd
          a(href="http://iaeste.no/") IAESTE
          | : Computer Manager, Leader, Treasurerer, Vice Leader
        dt 2004, 2006
        dd
          a(href="http://www.ukaiaas.no/") Uka i Ås
          | : Webmaster, Guard
